#heading{
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 70px;
}

#heading>div{
    width: 30%;
    margin-left: 17%;
}

#heading>div>h1{
    font-size: 40px;
    font-family:"Google Sans",Arial, sans-serif;
    font-weight: lighter;
    color: #3C4043;
    margin-bottom: -5px;
}

#heading>div>p{
    font-family:"Google Sans",Arial, sans-serif;
    color: #5f6368;
}

body>div:nth-child(3){
    width: 100%;
    height: 605px;
    position:relative;
    background-color: rgba(192,192,192,0.1);
    display: flex;
}

#container{
    width: 50%;
    margin: auto;
    height: auto;
    background-color: #FFFFFF;
    padding-left: 28px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 24px;
    padding-bottom: 8px;
    position: absolute;
    top: -40px;
    margin-left: 24%;
    border-radius: 4px;
}

#googleBtn{
    display: flex;
    margin: 25px 0px 40px 0px;
    font-size: 16px;
    font-family:"Google Sans",Arial, sans-serif;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #5f6368;
    background-color: #FFFFFF;
    padding: 14px 14px;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-weight: bold;
}

#googleBtn>img{
    width: 9%;
}

#container>h2{
    font-size: 20px;
    font-weight: lighter;
    font-family:"Google Sans",Arial, sans-serif;
    color:#3C4043;
    margin-bottom:52px ;
}

#signinmail{
    width: 66%;
    font-family:"Google Sans",Arial, sans-serif;
    color:#3C4043;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}

#signinpassword{
    width: 66%;
    font-family:"Google Sans",Arial, sans-serif;
    color:#3C4043;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid gray;
}

#container>p{
    color: #757575;
    font-size: 12px;
    font-family:"Google Sans",Arial, sans-serif;
    margin-bottom: 22px;
}

#bottompart{
    display:flex;
    width: 52%;
    margin: auto;
    margin-top: 340px;
    height: 50px;
    justify-content: space-between;

}

#continueBtn{
    font-family:"Google Sans",Arial, sans-serif;    
    font-size: 16px;
    letter-spacing: 0.8px;
    padding: 12px 24px;
    border: none;
    background-color: rgba(192,192,192,0.6);
    color:rgba(255,255,255,1);
}

#bottompart>p{
    color: #5f6368;
    font-family:"Google Sans",Arial, sans-serif;
    font-size: 14px;
}

#bottompart>p>a{
    text-decoration: none;
    color: #1a73e8;
}



