#header{
    width: 100%;
    height: auto;
}

#header>div{
    width: 51%;
    margin: auto;
    margin-left: 7.6%; 
}

#header>div>h1{
    font-size: 40px;
    font-weight: lighter;
    color: #3c4043;
    font-family: "Google Sans",Arial, sans-serif;
    margin-top: 50px;
}

#header>div>p{
    font-size: 18px;
    font-weight: lighter;
    color: #80868b;
    font-family: "Google Sans",Arial, sans-serif;
    margin-top: -22px;
    line-height: 29px;
    margin-bottom: 65px;
}

body>div:nth-child(5){
    width: 100%;
    background-color: rgba(192,192,192,0.2);
    border: rgba(192,192,192,0.2);
}

body>div:nth-child(5)>div{
    display: flex;
    width: 90%;
    margin:auto;
    gap: 20px;
}

.leftContainer{
    width: 24%;
    margin-top: 80px;
}

#rightContainer{
    width: 75%;
    margin-top: 50px;
}

#topLineDiv{
    display: flex;
}

.leftContainer>div{
    margin: auto;
}
 
.leftContainer>div>h3:first-child{
    font-weight: lighter;
    font-family: "Google Sans",Arial, sans-serif;
    font-size: 16px;
    color: #000000DE;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 40px;
    
}

.leftContainer>div>h3{
    font-weight: lighter;
    font-family: "Google Sans",Arial, sans-serif;
    font-size: 14px;
    color: #000000DE;
    margin-left: 30px;
}

#categories{
    margin-bottom: 115px;
}


#categories>.commondiv{
    display: flex;
    align-items: center;
    gap: 21px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#categories>.commondiv>label{
    color: #80868b;
    font-family: "Google Sans",Arial, sans-serif;
    margin-top: 4px;
}

#courseLength{
    margin-bottom: 100px;
}

#courseLength>.commondiv{
    display: flex;
    height: 30px;
    gap: 21px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#Certification{
    margin-bottom: 100px;
}

#Certification>.commondiv{
    display: flex;
    height: 30px;
    gap: 21px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#courseDifficulty{
margin-bottom: 90px;
}

#courseDifficulty>.commondiv{
    display: flex;
    height: 30px;
    gap: 21px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#courseProvider>.commondiv{
    display: flex;
    margin-left: 20px;
    margin-bottom: 15px;
    gap: 21px;
    align-items: center;
}

#courseProvider>.commondiv>label{
    color: #80868b;
    font-family: "Google Sans",Arial, sans-serif;
    margin-top: 4px; 
}

.inputdiv{
    height: 22px;
    width: 22px;
}
.labeldiv{
    width: 80%;
    color: #80868b;
    font-family: "Google Sans",Arial, sans-serif;
    height: 20px;
    margin-top: 4px;   
}

#courseProvider>div:nth-child(5){
    height: auto;
}
#courseProvider>div:nth-child(5)>div:nth-child(2){
    height: auto;
}

#courseProvider>div:nth-child(7){
    height: auto;
}
#courseProvider>div:nth-child(7)>div:nth-child(2){
    height: auto;
}


#courseProvider>div:nth-child(12){
    height: auto;
}
#courseProvider>div:nth-child(12)>div:nth-child(2){
    height: auto;
}

.inputdiv>input{
    height: 100%;
    width: 100%;
    border: 3px solid #80868b;
}

#result{
    color: #3c4043;
}


#container{
    display: grid;
    height:auto;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

#container>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
    height: 460px;
    position: relative;
}

#container>div:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#container>div>div>h3{
    margin-left: 24px;
    margin-right: 20px;
    color: #3c4043;
    font-family: "Google Sans",Arial, sans-serif;
}

#container>div>div>h3+p{
    margin-left: 24px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #5f6368;
    font-family: "Google Sans",Arial, sans-serif;
    font-size: 18px;
}

#container>div>div>img{
    width: 100%;
    min-height: 215px;
    max-height: 215px;
    
}

#container>div>div:nth-child(2){
    width: 100%;
    display: flex;
    height: 15px;
    margin: auto;
    margin-top: 15px;
    justify-content:start;
    color: #5f6368;
    font-family: "Google Sans",Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 100px;

}

#container>div>div:nth-child(2)>p{
    margin-top: -2px;
    margin-left: 35px;
}

#container>div>h4{
    display: flex;
    color: #1a73e8;
    font-size: 24px;
    margin-top: -5px;
    position: absolute;
    bottom: -10px;
    left: 85%;
}

hr{
    color: #3c4043;
    border: 1px solid #3c4043;
}

#resetformat{
    color: #1a73e8;
    font-family: "Google Sans",Arial, sans-serif;
    margin-left: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 130px;
}

#resetformat:hover{
    cursor: pointer;
}

/* .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  } */

  #closeBar{
    display: none;
  }

  #topLine{
    display: none;
  }

#leftContainer2{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 100vh;
    background-color:rgba(192,192,192,0.2);
    z-index: 6;
}

@media all and (min-width:1001px) and (max-width:1200px){

    #header>div{
        width: 70%;
        margin-left: 5%; 
    }
    
    #header>div>h1{
        font-size: 28px;
    }

    #container{
        grid-template-columns: repeat(2,1fr);
    }

}

@media all and (min-width:601px) and (max-width:1000px){

    #header>div{
        width: 90%;
        margin: auto;
    }
    
    #header>div>h1{
        font-size: 28px;
    }

    #leftContainer1{
        display: none;
    }

    #closeBar{
        width: 5%;
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        position: fixed;
        top: 0px;
        left: 200px;
        margin-bottom: 20px;
    }

    #categories>h3{
        margin-top: 40px;
    }

    #rightContainer{
        width: 100%;
        margin: auto;
    }

    #topLineDiv{
        display: flex;
        gap: 25px;
        align-items: center;
    }

    #topLine{
        display: flex;
        gap: 18px;
        align-items: center;
        font-size: 18px;
        color: #616161;
    }

    #topLine>h4{
        font-weight:500;
    }

    #filterIcon{
        font-size: 24px;
        font-weight: 500;
    }

    #container{
        grid-template-columns: repeat(2,1fr);
    }

}

@media all and (min-width:200px) and (max-width:600px){

    #header>div{
        width: 90%;
        margin: auto; 
    }
    
    #header>div>h1{
        font-size: 28px;
    }

    .leftContainer{
        display: none;
    }

    #closeBar{
        width: 10%;
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        position: fixed;
        top: 0px;
        left: 200px;
        margin-bottom: 20px;
    }

    #rightContainer{
        width: 80%;
        margin: auto;
    }

    #topLineDiv{
        display: flex;
        gap: 25px;
        align-items: center;
    }

    #topLine{
        display: flex;
        gap: 18px;
        align-items: center;
        font-size: 18px;
        color: #616161;
    }

    #topLine>h4{
        font-weight:500;
    }

    #filterIcon{
        font-size: 24px;
        font-weight: 500;
    }

    #container{
        grid-template-columns: repeat(1,1fr);
    }
}


