#heading{
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
}

#heading>div:first-child{
    width: 27%;
    height: 54%;
    margin: auto;
    margin-right:0px;
    margin-left: 8%;
    margin-top: 135px;
}

#heading>div>h2{
    font-size: 48px;
    font-family: "Google Sans",Arial, sans-serif;
    color: #3C4043;
    margin-top: 0px;
    font-weight: lighter;
}

#heading>div>p{
    font-size: 18px;
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
}

#heading>div:last-child{
    width: 48%;
    height: auto;
    margin-top: 10px;
    margin-left: 90px;
}

#heading>div:last-child>img{
width: 100%;
}

#findCourse{
    font-family: "Google Sans",Arial, sans-serif;
    padding: 13px 24px;
    border: none;
    background-color: #1A73E8;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 130px;
}

#findCourse:hover{
background-color:darkblue;
}

#cLogo{
    width: 85%;
    margin: auto;
    margin-bottom: 40px;
}

#cLogo>div:first-child>p{
    margin-top: 0px;
    color: #424242;
    font-family:"Google Sans",Arial, sans-serif ;
}

#cLogo>div:last-child{
    width: 55%;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    
}

#cLogo>div:last-child>div{
    display: flex;
    height: auto;
    align-items: center;
}

#cLogo>div:last-child>div>img{
    width: 80%;
    
}

#cLogo>div:last-child>div:nth-child(3)>img{
    width: 60%;
}

#middlebar{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #1A73E8;
    border: 1px solid #1A73E8;
    padding: 29px 0px;
    margin-bottom: 40px;
    
}

#middlebar>div{
    display: flex;
    width: 85%;
    height: 120px;
    margin: auto;
    align-items: center;
}



#middlebar>div>div:first-child{
display: flex;
width: 70px;
height: 70px;
align-items: center;
background-color: white;
border-radius: 50%;

}

#middlebar>div:first-child>div>img{
margin-left: 20px;
}

#middlebar>div>div:nth-child(2){
    width: 50%;
    margin-left: 40px;

}

#middlebar>div>div:nth-child(2)>h3{
    color: white;
    font-size: 35px;
    font-family:"Google Sans",Arial, sans-serif;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 0px;

}

#middlebar>div>div:nth-child(2)>p{
    color: white;
    font-family:"Google Sans",Arial, sans-serif;
    font-weight: lighter;

}



#middlebar>div>div:last-child{
    width: 45%;
    height:120px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#webinarCourses{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family:"Google Sans",Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

#courseCategories{
    margin-bottom: 80px;
}

#courseCategories>div{
    width: 70%;
    height: auto;
    margin: auto;
    
}

#courseCategories>div>h1{
    font-size: 40px;
    font-weight: lighter;
    color: #3C4043;
    font-family:"Google Sans",Arial, sans-serif;
    text-align: center;
}

#courseCategories>div:first-child>p{
    color: #424242;
    font-family:"Google Sans",Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0px 162px;
    margin-bottom: 50px;
    line-height: 32px;
}

#courseCategories>div:last-child{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap: 20px;

}

#courseCategories>div:last-child>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
    padding: 32px 18px;
}

#courseCategories>div:last-child>div>p:nth-child(2){
    font-size: 18px;
    color: #3C4043;
    font-weight: bold;
    font-family:"Google Sans",Arial, sans-serif;
    letter-spacing: 1px;
}

#courseCategories>div:last-child>div>p:nth-child(3){
    font-size: 16px;
    color: #424242;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 24px;
}

#courseCategories>div:last-child>div>p:nth-child(4){
    font-size: 20px;
    color: #1A73E8;
    text-align: right;
    margin: auto;
    
}

#courseCategories>div:last-child>div:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#bottomPart{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    background-color: rgba(192, 192, 192,0.1);
    margin-bottom: 30px;
}

#bottomPart>div:first-child{
    width: 23%;
    height: 40px;
    margin: 70px 85px 0px 115px;
}

#bottomPart>div:first-child>img{
    width: 100%;
    }

#bottomPart>div:last-child{
    width: 45%;
    height: auto;
    margin: 70px 0px;
}    

#bottomPart>div:last-child>p{
    margin-top: 0px;
    color: #424242;
    font-family:"Google Sans",Arial, sans-serif;
    line-height: 24px;
    margin-bottom: 30px;
}

#exploreBtn{
    border: 2px solid #1967D2;
    background-color: white;
    color: #1967D2;
    font-family:"Google Sans",Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 18px;

}

#exploreBtn:hover{
background-color: #1967D2;
color: whitesmoke;
}

#faq_questions{
width: 100%;
height: auto;
margin: auto;
text-align: center;
margin-bottom: 80px;
margin-top: 70px;
}
#faq_questions>h2{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    font-family:"Google Sans",Arial, sans-serif;
    margin-bottom: 40px;
}
#faq_questions>div{
    width: 56%;
    margin: auto;
    font-family:"Google Sans",Arial, sans-serif;
    margin-bottom: 40px;
}

#faq_questions>div>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: auto;
}

hr{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.FAQquestion{
color: #424242;
font-family:"Google Sans",Arial, sans-serif;
font-weight: bold;
letter-spacing: 1px;
}

#faqBtn{
    border: none;
    background-color: #F1F3F4;
    color: #000000DE;
    font-family:"Google Sans",Arial, sans-serif;
    font-weight: bold;
    padding:16px 28px;
    letter-spacing: 2px;
}

#faqBtn:hover{
    color: #1967D2;
}





/* media Query start from here */


@media all and (min-width:100px) and (max-width:480px){

#heading{
    width: 100%;
    display: block;
}

#heading>div:first-child{
    width: 90%;
    height: 54%;
    margin: auto;
    margin-left: 18px;
    margin-top: 50px;
}

#heading>div>h2{
    font-size: 28px;
    font-family: "Google Sans",Arial, sans-serif;
    color: #3C4043;
    font-weight: lighter;
}

#heading>div>p{
    font-size: 16px;
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}

#findCourse{
    font-family: "Google Sans",Arial, sans-serif;
    padding: 13px 24px;
    border: none;
    background-color: #1A73E8;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 30px;
}

#heading>div:last-child{
    width: 90%;
    height: auto;
    margin-top: 0px;
    margin-left: 18px;
}

#heading>div:last-child>img{
width: 100%;
}

#cLogo{
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}

#cLogo>div:first-child>p{
    font-size: 14px;
    margin-top: 50px;
    color: #424242;
    font-family:"Google Sans",Arial, sans-serif ;
}

#cLogo>div:last-child{
    width: 90%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin-left: 18px;
}

#middlebar>div{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

#middlebar>div>div:first-child{
   margin: auto;
   margin-top: 40px;

}

#middlebar>div>div:nth-child(2){
    width: 100%;
    margin: auto;
}

#middlebar>div>div:nth-child(2)>h3{
    font-size: 24px;
    margin-top: 20px;

}

#middlebar>div>div:nth-child(2)>p{
    line-height: 28px;
}
#middlebar>div>div:last-child{
    width: 80%;
    height:auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#courseCategories{
    margin-bottom: 80px;
}

#courseCategories>div{
    width: 90%;
    height: auto;
    margin: auto;
}

#courseCategories>div>h1{
    font-size: 24px;
}

#courseCategories>div:first-child>p{
    font-size: 15px;
    margin: auto;
    margin-bottom: 24px;
}

#courseCategories>div:last-child{
    grid-template-columns: repeat(1,1fr);

}

#bottomPart{
    display: block;
    
}

#bottomPart>div:first-child{
    width: 70%;
    margin-left: 18px;
}

#bottomPart>div:first-child>img{
    width: 100%;
    }

#bottomPart>div:last-child{
    width: 90%;
    margin-top: 10px;
    margin-left: 18px;
}

    #faq_questions>h2{
        font-size: 24px;
}

    #faq_questions>div{
        width: 90%;
  }
}



@media all and (min-width:481px) and (max-width:768px){

    #heading{
        width: 100%;
        display: block;
    }
    
    #heading>div:first-child{
        width: 90%;
        height: 54%;
        margin: auto;
        margin-left: 18px;
        margin-top: 50px;
    }
    
    #heading>div>h2{
        font-size: 28px;
        font-family: "Google Sans",Arial, sans-serif;
        color: #3C4043;
        font-weight: lighter;
    }
    
    #heading>div>p{
        font-size: 16px;
        color: #424242;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 24px;
    }
    
    #findCourse{
        font-family: "Google Sans",Arial, sans-serif;
        padding: 13px 24px;
        border: none;
        background-color: #1A73E8;
        color: white;
        letter-spacing: 2px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    #heading>div:last-child{
        width: 90%;
        height: auto;
        margin-top: 0px;
        margin-left: 18px;
    }
    
    #heading>div:last-child>img{
    width: 100%;
    }
    
    #cLogo{
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
    }
    
    #cLogo>div:first-child>p{
        font-size: 14px;
        margin-top: 50px;
        color: #424242;
        font-family:"Google Sans",Arial, sans-serif ;
    }
    
    #cLogo>div:last-child{
        width: 90%;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
        margin-left: 18px;
    }
    
    #middlebar>div{
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    #middlebar>div>div:first-child{
       margin: auto;
       margin-top: 40px;
    
    }
    
    #middlebar>div>div:nth-child(2){
        width: 100%;
        margin: auto;
    }
    
    #middlebar>div>div:nth-child(2)>h3{
        font-size: 24px;
        margin-top: 20px;
    
    }
    
    #middlebar>div>div:nth-child(2)>p{
        line-height: 28px;
    }
    #middlebar>div>div:last-child{
        width: 80%;
        height:auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
    #courseCategories{
        margin-bottom: 80px;
    }
    
    #courseCategories>div{
        width: 90%;
        height: auto;
        margin: auto;
    }
    
    #courseCategories>div>h1{
        font-size: 24px;
    }
    
    #courseCategories>div:first-child>p{
        font-size: 15px;
        margin: auto;
        margin-bottom: 24px;
    }
    
    #courseCategories>div:last-child{
        grid-template-columns: repeat(1,1fr);
    
    }
    
    #bottomPart{
        display: block;
        
    }
    
    #bottomPart>div:first-child{
        width: 70%;
        margin-left: 18px;
    }
    
    #bottomPart>div:first-child>img{
        width: 100%;
        }
    
    #bottomPart>div:last-child{
        width: 90%;
        margin-top: 10px;
        margin-left: 18px;
    }
    
        #faq_questions>h2{
            font-size: 24px;
    }
    
        #faq_questions>div{
            width: 90%;
      }
    };
    

