body{
    margin: 0px;
    padding: 0;
}

#navbar{
    display: flex;
    width: 99.6%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: sticky;
    top: 0px;
    margin-bottom: 0px;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding: 12px 0px;
}

#navbar>div:first-child{
    width: 50%;
    width: fit-content;
    display: flex;
    gap: 32px;
    margin-left: 30px;
}

#navbar>div:first-child>a{
    text-decoration: none;
    color: gray;
    font-family: "Google Sans",Arial, sans-serif;
}

#navbar>div:first-child>a:hover{
    color: black;
}

#navbar>div:first-child>img{
    width: 27%;
    cursor: pointer;
    margin-right: 12px;
}

#navbar>div:last-child{
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 30px;
} 

.navbarSignupBtn{
    padding: 12px 22px;
    font-size: 18px;
    font-family: "Google Sans",Arial, sans-serif;
    background-color:#1a73e8;
    border: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.navbarSignupBtn:hover{
    background-color: mediumblue;
    cursor: pointer;
}

.navbarSigninBtn{
    background: none;
    font-family: "Google Sans",Arial, sans-serif;
    color:#1a73e8;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


   /* Small Screen Navbar Starts From Here. */

#ssNavbar{
    display: none;
}

#menuItems{
    display: none;
    width: 280px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 5;
}


/* Footer Part Here */


#footerContent{
    display: flex;
    width: 86%;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

#footerContent>div:first-child{
    width: 30%;
    height: 35%;
    margin-top: 30px;
}

#footerContent>div:last-child{
    width: 22%;
    height: 30%;
   display: flex;
   justify-content: space-between;
   font-family:"Google Sans",Arial, sans-serif;
   color: gray;
   font-size: 13px;
   margin-top: 33px;
}

#footerContent>div:last-child>p{
    margin-top: 0px;

}

#countries{
    width: 50%;
    height: 22px;
    margin-right: 18px;
    font-size: 16px;
}

#socialmediaicon>hr{
    margin-top: 0px;
}

#socialmediaicon{
    width:100%;
    height: 40px;
    display: flex;
    justify-content:right;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;

}

#socialmediaicon>div{
    display: flex;
    width: 16.3%;
    height: auto;
    margin-right: 6%;
    align-items: center;
    color: gray;
    font-family:"Google Sans",Arial, sans-serif;
    font-size: 13px;
}

#socialmediaicon>div>div{
    display: flex;
    align-items: center;
    width: 23px;
    height: 100%;
    margin-left: 40px;
}

#socialmediaicon>div>div>img{
    width: 100%;
}




/* Media Query Starts from Here */



@media all and  (min-width:769px) and (max-width:1000px){

    #navbar{
        display: none;
    }

    #ssNavbar{
        display: block;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }

    #ssNavbar>div{
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 12px 0px;
    }

    #ssNavbar>div>div:first-child{
        display: flex;
        align-items: center;
        gap: 21px;
    }

    #ssNavbar>div>div>img{
        width: 43%;
        margin-top: 5px;
    }

    #menuIcon:hover{
        cursor: pointer;
    }

    #menuItems>div:first-child{
        width: 100%;
        margin: auto;
        padding: 20px 0px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        border-bottom: 1px solid gray;
    }

    #menuItems>div>img{
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }

    #menuItems>div:nth-child(2){
        width: 100%;
        margin: 25px auto;
        border-bottom: 1px solid gray;
    }

    #menuItems>div:nth-child(2)>h3>a{
        text-decoration: none;
        font-size: 16px;
        font-family: "Google Sans",Arial, sans-serif;
        color: #5f6368;
        font-weight: 500;
        margin-left: 10%;
    }

    #menuItems>div:nth-child(2)>h3>a:hover{
        cursor: pointer;
    }

    #menuItems>div:last-child{
        display: none;
        width: 90%;
        margin: auto;
    }

    #menuItems>div:last-child>button{
        width: 90%;
        margin: auto;
        margin-bottom: 16px;
    }

    #ssNavbar>div>div:last-child{
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: center;
    }
}


@media all and  (min-width:481px) and (max-width:768px){

    #navbar{
        display: none;
    }

    #ssNavbar{
        display: block;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }

    #ssNavbar>div{
        width: 92%;
        display: block;
        margin: auto;
        padding: 22.6px 0px;
    }

    #ssNavbar>div>div:first-child{
        display: flex;
        align-items: center;
        gap: 21px;
    }

    #ssNavbar>div>div>img{
        width: 28%;
        margin-top: 5px;
    }

    #ssNavbar>div>div:last-child{
        display: none;
    }

    #menuIcon:hover{
        cursor: pointer;
    }

    #menuItems>div:first-child{
        width: 100%;
        margin: auto;
        padding: 20px 0px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        border-bottom: 1px solid gray;
    }

    #menuItems>div>img{
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }

    #menuItems>div:nth-child(2){
        width: 100%;
        margin: 25px auto;
        border-bottom: 1px solid gray;
    }

    #menuItems>div:nth-child(2)>h3>a{
        text-decoration: none;
        font-size: 16px;
        font-family: "Google Sans",Arial, sans-serif;
        color: #5f6368;
        font-weight: 500;
        margin-left: 10%;
    }

    #menuItems>div:nth-child(2)>h3>a:hover{
        cursor: pointer;
    }

    #menuItems>div:last-child{
        width: 90%;
        margin: auto;
    }

    #menuItems>div:last-child>button{
        width: 90%;
        margin: auto;
        margin-bottom: 16px;
    }

    
#footerContent{
    display: block;
    width: 90%;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

#footerContent>div:first-child{
    width: 70%;
    height: 35%;
    margin-top: 30px;
}

#footerContent>div:first-child>img{
    width: 100%;
}

#footerContent>div:last-child{
    width: 100%;
    height: 30%;
   display: block;
   justify-content: space-between;
   font-size: 13px;
   margin-top: 0px;
}

#footerContent>div:last-child>p{
    margin-bottom: 30px;

}

#socialmediaicon{
    width:100%;
    height: 60px;
    display: flex;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;

}

#socialmediaicon>div{
    width: 100%;
    margin-left: 6%;
    font-size: 18px;
}
}



@media all and  (min-width:320px) and (max-width:480px){

    #navbar{
        display: none;
    }

    #ssNavbar{
        display: block;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }

    #ssNavbar>div{
        width: 90%;
        display: block;
        margin: auto;
        padding: 21px 0px;
    }

    #ssNavbar>div>div:first-child{
        display: flex;
        align-items: center;
        gap: 21px;
    }

    #ssNavbar>div>div>img{
        width: 60%;
        margin-top: 5px;
    }

    #ssNavbar>div>div:last-child{
        display: none;
    }

    #menuIcon:hover{
        cursor: pointer;
    }

    #menuItems>div:first-child{
        width: 100%;
        margin: auto;
        padding: 20px 0px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        border-bottom: 1px solid gray;
    }

    #menuItems>div>img{
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }

    #menuItems>div:nth-child(2){
        width: 100%;
        margin: 25px auto;
        border-bottom: 1px solid gray;
    }

    #menuItems>div:nth-child(2)>h3>a{
        text-decoration: none;
        font-size: 16px;
        font-family: "Google Sans",Arial, sans-serif;
        color: #5f6368;
        font-weight: 500;
        margin-left: 10%;
    }

    #menuItems>div:nth-child(2)>h3>a:hover{
        cursor: pointer;
    }

    #menuItems>div:last-child{
        width: 90%;
        margin: auto;
    }

    #menuItems>div:last-child>button{
        width: 90%;
        margin: auto;
        margin-bottom: 16px;
    }

    



#footerContent{
    display: block;
    width: 90%;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

#footerContent>div:first-child{
    width: 100%;
    height: 35%;
    margin-top: 30px;
}

#footerContent>div:first-child>img{
    width: 100%;
}

#footerContent>div:last-child{
    width: 100%;
    height: 30%;
   display: block;
   justify-content: space-between;
   font-size: 13px;
   margin-top: -6px;
}

#footerContent>div:last-child>p{
    margin-bottom: 30px;

}

#socialmediaicon{
    width:100%;
    height: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;

}

#socialmediaicon>div{
    width: 100%;
    margin-left: 6%;
    font-size: 18px;
}

}



@media all and  (min-width:100px) and (max-width:319px){

    #navbar{
        display: none;
    }


    #ssNavbar{
        width: 100%;
        display: block;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }

    #ssNavbar>div{
        width: 95%;
        display: block;
        margin: auto;
        padding: 21px 0px;
    }

    #ssNavbar>div>div:first-child{
        width: 95%;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    #ssNavbar>div>div>i{
        font-size: 16px;
    }

    #ssNavbar>div>div>img{
        width: 70%;
        margin-top: 4px;
    }

    #ssNavbar>div>div:last-child{
        display: none;
    }

    #menuIcon:hover{
        cursor: pointer;
    }

    #menuItems{
        width: 85%;
    }

    #menuItems>div:first-child{
        width: 100%;
        margin: auto;
        padding: 20px 0px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        border-bottom: 1px solid gray;
    }

    #menuItems>div>img{
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }

    #menuItems>div:nth-child(2){
        width: 100%;
        margin: 25px auto;
        border-bottom: 1px solid gray;
    }

    #menuItems>div:nth-child(2)>h3>a{
        text-decoration: none;
        font-size: 16px;
        font-family: "Google Sans",Arial, sans-serif;
        color: #5f6368;
        font-weight: 500;
        margin-left: 10%;
    }

    #menuItems>div:nth-child(2)>h3>a:hover{
        cursor: pointer;
    }

    #menuItems>div:last-child{
        width: 90%;
        margin: auto;
    }

    #menuItems>div:last-child>button{
        width: 90%;
        margin: auto;
        margin-bottom: 16px;
    }

    



#footerContent{
    display: block;
    width: 90%;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

#footerContent>div:first-child{
    width: 100%;
    height: 35%;
    margin-top: 30px;
}

#footerContent>div:first-child>img{
    width: 100%;
}

#footerContent>div:last-child{
    width: 100%;
    height: 30%;
   display: block;
   justify-content: space-between;
   font-size: 13px;
   margin-top: -6px;
}

#footerContent>div:last-child>p{
    margin-bottom: 30px;

}

#socialmediaicon{
    width:100%;
    height: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;

}

#socialmediaicon>div{
    width: 100%;
    margin-left: 6%;
    font-size: 18px;
}

}
